{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<!--  -->
<div class="row mt-5 mainContainer">
    <div class="col-sm-5">
        <form id="artForm">
            <div class="form-group">
                <label for="lyricsInput">Your lyrics (Required)</label>
                <textarea class="form-control" id="lyricsInput" rows="7" required></textarea>
            </div>

            <div class="form-group mt-3">
                <label for="styleInput">Any addtional styling suggestion? (Required)</label>
                <textarea class="form-control" id="styleInput" rows="5" required></textarea>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-group mt-3">
                        <label for="trackName">Track Name</label>
                        <textarea class="form-control" id="trackName" rows="1" ></textarea>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group mt-3">
                        <label for="artistName">Artist Name</label>
                        <textarea class="form-control" id="artistName" rows="1" ></textarea>
                    </div>
                </div>
            </div>
           
            <button type="submit" class="btn btn-primary mt-3">Generate Track Art</button>
        </form>
    </div>
    <div class="col-sm-7" id="result">
        <img id="generated_album_art" src="" alt="">
        <audio id="audioPlayer" type="audio/mp3"></audio>
        <!-- {{ data }} -->
    </div>
</div>


{% endblock %}