{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<!--  -->
<div class="row mt-5 mainContainer">
    <div class="col-sm-6">
        <form id="artForm" class="d-block">
            <div class="form-group">
                <label for="lyricsInput">Your lyrics (Required)</label>
                <textarea class="form-control" id="lyricsInput" rows="7" required></textarea>
            </div>

            <div class="form-group mt-3">
                <label for="styleInput">Any addtional styling suggestion? (Required)</label>
                <textarea class="form-control" id="styleInput" rows="5" required></textarea>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="form-group mt-3">
                        <label for="trackName">Track Name</label>
                        <textarea class="form-control" id="trackName" rows="1" ></textarea>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group mt-3">
                        <label for="artistName">Artist Name</label>
                        <textarea class="form-control" id="artistName" rows="1" ></textarea>
                    </div>
                </div>
            </div>
           
            <button type="submit" class="btn btn-warning mt-3 showArt">Generate Track Art</button>
        </form>
        <button class="btn btn-warning mt-3 showMeaning d-none">What's the meaning of this song?</button>
        <div class="m-3">
            <p class="song_meaning"></p>
        </div>
    </div>
    <div class="col-sm-6" id="result">
        <p class="about_us d-block mt-3">
            <!-- TrackART creates track cover from song lyrics using the power of AI. If you wish to know what the lyrics mean, trackART also helps you to understand. -->
        </p>
        <p class="generating d-none">Generating Track Cover...</p>
        <img id="generated_album_art" src="" alt="">
        <audio id="audioPlayer" type="audio/mp3"></audio>
        <!-- {{ data }} -->
    </div>
</div>


{% endblock %}